body {
    background-color: lightgray;
    margin: 0;  /*a fejléc feletti 5px-es távolságot szüntetjük meg*/
}



header {
    width: 100%;
    height: 300px;
    background-image: url("kepek/fejlec.jpg");
    background-position: center;

}

nav {
    width: 1000px;
    height: 60px;
    background-color: white;
    margin: auto; /*a DIV középre igazítása --> ha a margó automatikus, akkor jobb és bal oldalon is egyenlő, nav-nak legyen egyenlő távolságú margója*/
    text-align: center; /*a nav-on belül lévő tartalom, vagyis a felsorolás középre kerül */
    border-radius: 30px;
}

nav ul {
    margin: 0; /*a felső elcsúszás megszüntetése*/
    padding: 18px 0 0 0;
}

nav li {
    display: inline;    /*felsorolások egymás mellé rendezése egy sorba*/
}

nav a:link, nav a:visited {
    font-size: 21px;
    text-decoration: none;  /*aláhúzás: nincs*/
    color: black;
    padding: 10px 30px 10px 30px;      /*szöveg körüli helykihagyás...mint a word-ben a sorköz*/

}

nav a:hover {
    color: white;
    background-color: darkslategray;
}

main {
    width: 1000px;
    margin: 30px auto 30px auto;
}

.bemutatkozas_box {
    background-color: white;
    width: 600px;
    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;
    float: left;    /* lebegő, bal oldalon legyen a div, és maga mellé engedjen még más tartalmat is jobb oldalra*/
}

.bemutatkozas_box p {
    padding: 20px;
}

.jobboldal {
    width: 300px;
    float: right;
    text-align: center;
}


.kiemelt_box {
    width: 300px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 10px 0px #000000;
    box-shadow: 0px 0px 10px 0px #000000;
}

.kiemelt_box p {
    font-size: 19px;
    font-weight: bold;
    padding: 0 0 15px 0;
}

